{{#isSketch}}
<div class="reportSection tableContainer">
    <h4>Especies Endémicas</h4>
    <table>
      <thead>
        <tr>
          <th>Tipo de Especies</th>
          <th>Porcentaje dentro de Propuesta</th>
        </tr>
      </thead>
      <tbody>
        {{#sketch_species}}
          <tr>
            <td>{{SPECIES}}</td>
            <td>{{PERC}}</td>
          </tr>
        {{/sketch_species}}
      </tbody>
    </table>
 </div>
 <div class="reportSection tableContainer">
    <h4>Hábitats</h4>
    <table>
      <thead>
        <tr>
          <th>Hábitat</th>
          <th>Porcentaje dentro de Propuesta</th>
        </tr>
      </thead>
      <tbody>
        {{#sketch_habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{PERC}}</td>
          </tr>
        {{/sketch_habitats}}
      </tbody>
    </table>
 </div>

{{/isSketch}}
{{^isSketch}}
  {{#hasIntangibleSpecies}}
    <div class="reportSection tableContainer">
      <h4>Especies Endémicas en Zonas Intangibles</h4>
        <table>
        <thead>
          <tr>
            <th>Tipo de Especies</th>
            <th>Porcentaje dentro de Propuesta</th>
          </tr>
        </thead>
        <tbody>
          {{#intangible_species}}
            <tr>
              <td>{{SPECIES}}</td>
              <td>{{PERC}}</td>
            </tr>
          {{/intangible_species}}
        </tbody>
      </table>
    </div>
  {{/hasIntangibleSpecies}}
  {{^hasIntangibleSpecies}}
    <div class="reportSection">
      <h4>Especies Endémicas en Zonas Intangibles</h4>
      <p class="large">No hay zonas intangibles en esta propuesta.</p>
    </div>
  {{/hasIntangibleSpecies}}

  <div class="reportSection tableContainer">
    <h4>Hábitats</h4>
    {{#hasIntangibles}}
     <div class="list-header">Las zonas de Intangible dentro de esta propuesta incluyen los siguientes hábitats:</div>
    <table>
      <thead>
        <tr>
          <th>Hábitat</th>
          <th>Porcentaje dentro de Propuesta</th>
        </tr>
      </thead>
      <tbody>
        {{#intangible_habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{PERC}}</td>
          </tr>
        {{/intangible_habitats}}
    </table>
    {{/hasIntangibles}}

    {{#hasSustainable}}
     <div class="list-header">Las zonas de Aprovechamiento Sustenable dentro de esta propuesta incluyen los siguientes hábitats:</div>
    <table>
      <thead>
        <tr>
          <th>Hábitat</th>
          <th>Porcentaje dentro de Propuesta</th>
        </tr>
      </thead>
      <tbody>
        {{#sustainable_habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{PERC}}</td>
          </tr>
        {{/sustainable_habitats}}
    </table>
    {{/hasSustainable}}

    {{#hasMixedUse}}
     <div class="list-header">Las zonas de Transición dentro de esta propuesta incluyen los siguientes hábitats:</div>
    <table>
      <thead>
        <tr>
          <th>Hábitat</th>
          <th>Porcentaje dentro de Propuesta</th>
        </tr>
      </thead>
      <tbody>
        {{#mixed_use_habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{PERC}}</td>
          </tr>
        {{/mixed_use_habitats}}
    </table>
    {{/hasMixedUse}}


    {{#hasExtractive}}
     <div class="list-header">Las zonas de Conservación dentro de esta propuesta incluyen los siguientes hábitats:</div>
    <table>
      <thead>
        <tr>
          <th>Hábitat</th>
          <th>Porcentaje dentro de Propuesta</th>
        </tr>
      </thead>
      <tbody>
        {{#extractive_habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{PERC}}</td>
          </tr>
        {{/extractive_habitats}}
    </table>
    {{/hasExtractive}}
 </div>
{{/isSketch}}