{{#isSketch}}
<div class="reportSection tableContainer">
    <h4>Endemic Species</h4>
    <table>
      <thead>
        <tr>
          <th>Species Type</th>
          <th>Percent within Sketch</th>
        </tr>
      </thead>
      <tbody>
        {{#sketch_species}}
          <tr>
            <td>{{SPECIES}}</td>
            <td>{{PERC}}</td>
          </tr>
        {{/sketch_species}}
      </tbody>
    </table>
 </div>
 <div class="reportSection tableContainer">
    <h4>Habitats</h4>
    <table>
      <thead>
        <tr>
          <th>Habitat</th>
          <th>Percent within Sketch</th>
        </tr>
      </thead>
      <tbody>
        {{#sketch_habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{PERC}}</td>
          </tr>
        {{/sketch_habitats}}
      </tbody>
    </table>
 </div>

{{/isSketch}}
{{^isSketch}}
  {{#hasIntangibleSpecies}}
    <div class="reportSection tableContainer">
      <h4>Endemic Species in Intangible Zones</h4>
        <table>
        <thead>
          <tr>
            <th>Species Type</th>
            <th>Percent within Proposal</th>
          </tr>
        </thead>
        <tbody>
          {{#intangible_species}}
            <tr>
              <td>{{SPECIES}}</td>
              <td>{{PERC}}</td>
            </tr>
          {{/intangible_species}}
        </tbody>
      </table>
    </div>
  {{/hasIntangibleSpecies}}
  {{^hasIntangibleSpecies}}
    <div class="reportSection">
      <h4>Endemic Species in Intangible Zones</h4>
      <p class="large">There are no intangible zones in this collection</p>
    </div>
  {{/hasIntangibleSpecies}}

  <div class="reportSection tableContainer">
    <h4>Habitats</h4>
    {{#hasIntangibles}}
     <div class="list-header">The intangible zones within this proposal include the following habitats:</div>
    <table>
      <thead>
        <tr>
          <th>Habitat</th>
          <th>Percent within Proposal</th>
        </tr>
      </thead>
      <tbody>
        {{#intangible_habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{PERC}}</td>
          </tr>
        {{/intangible_habitats}}
    </table>
    {{/hasIntangibles}}

    {{#hasSustainable}}
     <div class="list-header">The sustainable use zones within this proposal include the following habitats:</div>
    <table>
      <thead>
        <tr>
          <th>Habitat</th>
          <th>Percent within Proposal</th>
        </tr>
      </thead>
      <tbody>
        {{#sustainable_habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{PERC}}</td>
          </tr>
        {{/sustainable_habitats}}
    </table>
    {{/hasSustainable}}

    {{#hasMixedUse}}
     <div class="list-header">The mixed use zones within this proposal include the following habitats:</div>
    <table>
      <thead>
        <tr>
          <th>Habitat</th>
          <th>Percent within Proposal</th>
        </tr>
      </thead>
      <tbody>
        {{#mixed_use_habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{PERC}}</td>
          </tr>
        {{/mixed_use_habitats}}
    </table>
    {{/hasMixedUse}}


    {{#hasExtractive}}
     <div class="list-header">The extractive use zones within this proposal include the following habitats:</div>
    <table>
      <thead>
        <tr>
          <th>Habitat</th>
          <th>Percent within Proposal</th>
        </tr>
      </thead>
      <tbody>
        {{#extractive_habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{PERC}}</td>
          </tr>
        {{/extractive_habitats}}
    </table>
    {{/hasExtractive}}
 </div>
{{/isSketch}}