{{#isCollection}}
<div class="reportSection tableContainer">
    <h4>Tamaño (en kilómetros cuadrados)</h4>
    <table>
      <thead>
        <tr>
          <th>Tipo de Zona</th>
          <th>Área Total</th>
          <th>Área Promedio</th>
          <th>Área Min.</th>
          <th>Área Max</th>
        </tr>
      </thead>
      <tbody>
        {{#size_stats}}
          <tr>
            <td>{{ZONE_TYPE}}</td>
            <td>{{TOTAL}}</td>
            <td>{{MEAN}}</td>
            <td>{{MIN}}</td>
            <td>{{MAX}}</td>
          </tr>
        {{/size_stats}}
    </table>
 </div>
{{/isCollection}}
{{^isCollection}}
	<div class="reportSection">
	  <h4>Size</h4>
	  <p class="large">El área seleccionada se encuentra a <strong>{{size_km}} kilómetros cuadrados</strong>.</p>
	</div>
{{/isCollection}}
